<!DOCTYPE html>
<html lang="en">
  <header>
    <title> Url Shortener</title>
  </header>
  <% if(username){ %>
    <%= username + " " + "Signed In" %>
  <body>
    <form method="POST" action="/logout">
        <input type="submit" value="Logout" name="username">
    </form>
  <% } else{ %>
    <form method="POST" action="/login">
      <input type="text" placeholder="" style="width: 300px" name="username">
      <input type="submit" value="Login">
    </form>
 <% } %>
  </body>
</html>
