  <% if(user && user.id){ %>
    <%= user.id + " " + "Signed In" %>
    <form method="POST" action="/logout">
        <input type="submit" value="Logout" name="username">
    </form>
<% }%>
 <a href="http://localhost:8080/registration">Registration Page</a>
  <div><a href="http://localhost:8080/login">Login Page</a></div>

