<!DOCTYPE html>
<html lang="en">
  <header>
    <title> Url Shortener</title>
  </header>
  <body>
    <% if(username){ %>
    <%= username + " " + "Signed In" %>
    <form method="POST" action="/logout">
        <button type="submit">Logout</button>
    </form>
  <% } else{ %>
    <form method="POST" action="/login">
        <input type="text" placeholder="" style="width: 300px" name="username">
        <button type="submit">Login</button>
    </form>
 <% } %>
  </body>
</html>
