
<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
 <% include partials/_header %>
<h1> Currently Shortened </h1>
<body>
   <ul>
    <% Object.keys(url).forEach(function(key)  { %>
        <li><%= key + ":" + url[key] %>
           <form method = "POST" action=<%-"/urls/" + key + "/delete"%>>
             <input type="submit" value="Delete">
           </form>
        <form method = "GET" action=<%-"/urls/" + key %>>
             <input type="submit" value="Edit">
           </form>
        </li>
    <% }); %>
</ul>
<a href='#'> </a>
</body>
</html>

