
<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
 <% include partials/_header %>
<h1> Currently Shortened </h1>
<body>
    <ul>
    <!-- Add your EJS code here -->
        <% for (key in url) { %>
            <li><%= url[key]["longURL"] %> - <%= key %></li>
            <br>
            <form method="POST" action="/urls/<%= key %>/delete">.
                <a href="/urls/<%= key %>">Edit URL</a>
                 &nbsp; &nbsp; &nbsp; <!-- nbsp = non breaking space -->
                 <input type="submit" value="Delete Shortened URL">
             </form>
             <br><br>
         <% }; %>
     </ul>
     <br>
     <p>Click <a href="http://localhost:8080/urls/new">HERE</a> to shorten a new URL</p>

 </body>

 </html>


